html,body {
    background-color: black;
    color: #d8d8d8;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

div#wrap {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

div.bar {
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    background-color: #181818;
    border: 2px solid #000;
}

div#topbar {
    > div#topleft {
        flex: 1;
    }

    > div#timer {
        display: flex;
        justify-content: center;
        align-items: center;
        font: 11pt monospace;
        width: 600px;
        max-width: 50%;
        text-align: center;
        text-shadow: 0 0 2px #000, 0 0 2px #000;
        background: #000;
    }

    > div#topright {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        > div.strike {
            width: 11pt;
            height: 11pt;
            border-radius: 11pt;
            margin: 0 2%;
            background-color: #86c1b9;
            &.used { background-color: mix(#86c1b9, #000, 25%); }
        }
    }
}

div#botbar {
    font: 11pt monospace;

    > div#botleft {
        flex: 1;
        > div#discon {
            display: none;
            color: #f00;
            margin-left: 20px;
        }
        > div#name:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    > div#botright {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        > button > img { width: 1rem; vertical-align: middle; }
    }
}

main {
    flex: 1;
    display: flex;
    overflow: hidden;

    > div#wallwrap {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: auto;

        > div#wall {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px 10px;
            overflow: hidden;

            > div.cell {
                position: relative;
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
                // text-align: center;

                background-color: white;
                transition: background-color 0.1s, transform 0.1s;
                border-radius: 5px;
                overflow: hidden;


                // width: 220px;
                // margin: 10px;
                // @media (max-width: 1000px) { width: 22vw; margin: 1vw; }

                &:not(.solved):hover { cursor: pointer; }

                &:hover    { background-color: #ddd; }
                &.selected { background-color: #ccc; }

                &.right    { background-color: mix(#a1b56c, #fff, 75%); }
                &.wrong    { background-color: #ab4642; }

                > svg { position: absolute; }
                > svg:not(.grow) { width: 100%; height: 100%; }
                > svg.grow {
                    min-width: 100%; min-height: 100%;
                    left: 50%; top: 50%;
                    transform: translate(-50%, -50%);
                }

                > span.hotkey {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    color: black;
                    font: 9pt monospace;
                }

                // &:hover    { background-color: #282828; }
                // &.selected { background-color: #383838; }
            }
        }

        > div#gamelist {
            width: 100%;
            height: 100%;

            > div.gamerect {
                display: flex;
                flex-wrap: wrap;
                background-color: #181818;
                border-radius: 10px;
                align-items: center;
                margin: 5px 0;
                padding: 5px;
                cursor: pointer;
                > * { margin: 5px; }
                .gameimg {
                    width: 28px;
                    height: 40px;
                    border-radius: 3px;
                    background-color: white;
                    position: relative;
                    > svg { position: absolute; width: 100%; height: 100%; }
                }
                .gamename { font-size: 16pt; font-weight: bold; }
                .gamedesc { flex: 1; }
                .gamesrc { color: #888; font-size: 9pt; }
                &.dead { opacity: 0.5; }
                &:hover { background-color: #282828; }
            }
        }
    }

    > div#sidebar {
        width: 8rem;
        max-width: 20%;
        padding: 0.5rem;
        margin: 0.5rem;
        border-left: 1px solid #888;
        display: flex;
        flex-direction: column;

        > a#helplink { text-align: right; }

        > div#sbmain {
            flex: 1;
            table.userlist tr {
                transition: color 0.1s;
                &.right { color: #a1b56c; }
                &.wrong { color: #ab4642; }
                &:not(.conn) { color: #666; }
            }
        }

        > div#sbconf {
            display: flex;
            flex-direction: column;
            button.pm, span.disp { margin: 0; padding: 0 2px; font: 11pt monospace; }
            > * { display: none; }
        }
    }

    > div#helpwrap {
        max-width: 800px;
        margin: 2rem;
        h2 { margin-top: 3rem; }
        .helpsup { margin-bottom: 0; }
        .helpsub { margin: 0; color: #888; font-size: 10pt; }
        img.foidhelp { height: 150px; max-width: 100%; }
    }
}

div.helpcard {
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 150px;
    display: inline-block;
    margin: 10px;
    > svg { position: absolute; width: 100%; height: 100%; }
}

div.toast {
    position: fixed;
    top: 10px;
    left: 30%;
    right: 30%;
    background-color: #335;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

div#modals > div {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #3f3d4c;
    border-radius: 5px;
    padding: 20px;

    > section {
        flex: 1;
        overflow-y: auto;
    }

    > footer {
        text-align: right;
    }

    &.small { width: 250px; height: 100px; }
    &.large { width: 80vw; height: 80vh; }

    #scoresbody table {
        th, td { text-align: center; padding: 2px 5px; }
        th.name { text-align: right; }
    }

    #gameconfig { width: 90%; }
}

button, textarea, input {
    background-color: #282828;
    border: 1px solid #383838;
    border-radius: 3px;
    color: #d8d8d8;
    padding: 3px 10px;
    vertical-align: middle;
}

button { cursor: pointer; }
button:hover { background-color: #383838; border: 1px solid #585858; }
button:active { background-color: #585858; border: 1px solid #888; }

a { color: #7cafc2; }
strong { color: #f7ca88; }
li { margin: 1rem; }

#wrap:not(.hasadmin) .onlyadmin { display: none !important; }
#wrap:not(.hasgame) .onlygame { display: none !important; }
#wrap.hasgame .onlylobby { display: none !important; }

button#sbtoggle .sbhid { display: none; }
button#sbtoggle .sbvis { display: inline; }
.hidebar {
    main > div#sidebar { display: none; }
    button#sbtoggle .sbvis { display: none; }
    button#sbtoggle .sbhid { display: inline; }
}

.stack { display: flex; flex-direction: column; }
